body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.admin-label,
.lead-label,
.user-label {
  background-color: red;
  color: white;
  border-radius: 5px;
  padding: 2px 8px;
}

.lead-label {
  background-color: green;
}

.user-label {
  background-color: gray;
}

.interview-thumbnail img {
  border-radius: 15px;
  width: 100%;
}

.interview-thumbnail:hover {
  opacity: 0.5;
}

.interview-thumbnail:hover .play-button {
  visibility: visible;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 30%;
  opacity: 1;
}

.interview-thumbnail .play-button {
  visibility: hidden;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
